<ul>
  {{#each model as |question|}}
    <li>{{question-tile question=question}}</li>
    {{/each}}
</ul>

Your tracked questions:
{{tracked-question-display}}
<hr>

{{new-question newQuestion="newQuestion"}}
